<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Enumérer dans Kaamelottica !</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <header>
    <h1>Bienvenue à Kaamelottica : Où Kaamelott rencontre Battlestar Galactica !</h1>
    <a href="https://imgflip.com/i/83c0dv"><img src="https://i.imgflip.com/83c0dv.jpg" title="made at imgflip.com" alt="Space scene" width="400" height="300"/></a>
  </header>

  <main>
    <div class="enumerate-container">
      <h2>Nous disons tous... Listez vos vieilles choses !</h2>
      <p>S'il vous plaît, nobles chevaliers de l'espace, énumérez vos pensées les plus profondes ci-dessous :</p>
      <textarea id="enumeration" rows="10" cols="50"></textarea>
      <button id="submit">Par l'épée de Starbuck, soumets-toi !</button>
    </div>

    <div class="camelotica-humor">
      <h2>Pourquoi kaamelottica est le meilleur endroit de l'univers</h2>
      <p>kaamelottica n'est pas seulement un château légendaire sur un vaisseau spatial, c'est un mode de vie. Les chevaliers de la Table ronde se réunissent ici pour des tournois du jeu de la chouette. Sir Lancelot est si chevaleresque qu'il laisse même les Cylons tirer les premiers ou alors c'est parce qu'il veut pécho Guenièvre.</p>
      <p>Nous avons des sorciers et des IA avancées, Excalibur et des fusils laser, le Saint Graal et des moteurs FTL. Honnêtement, de quoi d'autre pourriez-vous avoir besoin ? De plus, le roi Arthur et l'amiral Adama sont de véritables amis. Qu'en dites-vous ?</p>
      <br>
    </br>
      <p>Si vous pensez que les créateurs du CTF sont partis en cacahuète sachez qu’il existe une boite pour faire des recommandations… Cependant à noter que la ressemblance entre une poubelle et cette boite est purement fortuite !</p>
    </div>
  </main>
</body>
</html>
