<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Congratulations! You Survived Level 1!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body onload="congratulate()">

    <h1>Congratulations, You Frakkin' Genius!</h1>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIEneFh1xdZjlw29EHvZ_ammBg3w9H14INLzGg3o5BR4mRRDPaeP28Tye_eaVkifWYcTY&usqp=CAU" alt="Space scene" width="400" height="300"></img>
      <p>You dodged the bullet like it was a stray Viper in the combat zone. What's next? Dodging a nuclear warhead in your PJs?</p>
    
    <p>Just to be clear, you are human, right? Or did you upload the consciousness of a Cylon model into your neural network? If so, don't forget to update your firmware. We don't want any glitches while you're hacking the mainframe, do we?</p>

    <p>Your next mission, should you be insane enough to accept, will force you to confront even worse nightmares, like uncommented code and plaintext passwords. </p>
    <p><span class="highlight">Username: level2</span></p>
    <p><span class="highlight">Password: if I told you, I’d have to airlock you</span></p>
    <p><span class="highlight">URL: http://level2.wargame.esd</span></p>
    
    <p>Remember, the only thing scarier than a Cylon Basestar is a to forget to check your basics. Prepare to get your hands dirty, and may the frakkin' gods have mercy on your soul.</p>

    <p>Oh, and one last thing: if you do happen to find any toasters, make sure they’re not networked. We’ve had some... issues with that.</p>

</body>
</html>
