<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Level 0</title>
    <style>
        body {
            background-color: #222;
            color: #fff;
            font-family: Arial, sans-serif;
            text-align: center;
            margin: 100px;
        }
        h1 {
            font-size: 3em;
            margin-bottom: 20px;
        }
        p {
            font-size: 1.2em;
        }
        .highlight {
            color: #f39c12;
        }
    </style>
</head>
<body>

    <h1>Welcome to Level 0, Space Cadet!</h1>
    <img src="https://corthodoxy.files.wordpress.com/2009/03/bsg-the-last-supper-cropped.jpg "alt="Girl in a jacket" width="600" height="300"></img>
    <p>Welcome to the "Level" training program. You're about to embark on a mission to discover the mysteries of server-side web-security. So say we all!</p>
    
    <p>Here, every level is like a new frakkin' planet, complete with its own unique challenges. You can access these planets, err... levels, by visiting <span class="highlight">http://levelX.wargame.esd</span>, where X marks the spot or rather, the level.</p>

    <p>SSH? Nope, this ain't no Cylon command ship, just punch in the username and password.</p>

    <p>Speaking of which, your credentials to start with are: </p>
    <p><span class="highlight">Username: level1</span></p>
    <p><span class="highlight">Password: don't be a brute and Hail hydra</span></p>
    <p><span class="highlight">URL: http://level1.wargame.esd</span></p>
    
    <p>Oh, and the passwords for the next levels? They're safely stowed away in <span class="highlight">/opt/level/levelX</span>. Just don't go fracking around, read the ones you're supposed to.</p>

</body>
</html>
