<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discussion humoristique entre Dr.Kelso et Dr.Cox</title>
    <style>
        .dialogue {
            max-width: 600px;
            margin: 50px auto;
            font-family: Arial, sans-serif;
        }
        .character {
            font-weight: bold;
        }
    </style>
</head>
<body>

<div class="dialogue">

</div>

</body>
</html>
