[Unit]
Description=Your Service Description
After=network.target

[Service]
User=root
ExecStart=/opt/wargame2-vagrant/Wargame/script.sh

[Install]
WantedBy=multi-user.target
