body {
    background-color: #222;
    color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 100px;
}
h1 {
    font-size: 3em;
    margin-bottom: 20px;
}
p {
    font-size: 1.2em;
}
.highlight {
    color: #f39c12;
}
<!--password is  6412e7c0f378b9dc2022cb2b39ef6515 -->